In [1]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz # FuzzyWuzzy has a ratio function that calculates the standard Levenshtein distance similarity ratio between two sequences
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
import os

## Stack datasets

In [2]:
de_data = pd.read_csv("LinkedIn_Data Engineer.csv")
de_data['Title Category'] = "Data Engineering"

In [3]:
ds_data = pd.read_csv("LinkedIn_Data Scientist.csv")
ds_data['Title Category'] = "Data Science"

In [4]:
da_data = pd.read_csv("LinkedIn_Analyst.csv")
da_data['Title Category'] = "Data Analytics"

In [184]:
all_data = pd.concat([de_data, ds_data, da_data], axis=0, ignore_index=True)

In [185]:
all_data = all_data.drop(columns=['index', 'Link', 'Level', 'Type', 'Applicants'])

In [186]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2908 entries, 0 to 2907
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              2908 non-null   object
 1   Date            2908 non-null   object
 2   Company         2908 non-null   object
 3   Title           2908 non-null   object
 4   Location        2908 non-null   object
 5   Description     2908 non-null   object
 6   Function        2908 non-null   object
 7   Industry        2908 non-null   object
 8   Title Category  2908 non-null   object
dtypes: object(9)
memory usage: 204.6+ KB

## Locations

In [165]:
pd.set_option('display.max_rows', 1000)

all_data.groupby(['Location']).count().sort_values(['ID'], ascending=False)['ID']

Location
United States                          110
New York, NY                           104
Washington, DC                          98
McLean, VA                              53
Austin, TX                              51
Houston, TX                             49
Chicago, IL                             48
Boston, MA                              47
Atlanta, GA                             47
Wayne, NJ                               41
Chantilly, VA                           38
Arlington, VA                           35
Dallas, TX                              35
Philadelphia, PA                        32
Reston, VA                              31
Cincinnati, OH                          30
San Francisco, CA                       29
Seattle, WA                             27
Tampa, FL                               26
Los Angeles, CA                         26
St Louis, MO                            25
Phoenix, AZ                             24
Pittsburgh, PA                          19
Minneapolis, MN                         18
Miami, FL                               17
Plano, TX                               17
Herndon, VA                             17
Springfield, VA                         16
Hartford, CT                            16
Charlotte, NC                           16
San Antonio, TX                         15
Oakland, CA                             15
Denver, CO                              15
Detroit, MI                             14
Juno Beach, FL                          14
Fort Meade, MD                          14
Woonsocket, RI                          14
New Jersey, United States               14
Salt Lake City, UT                      13
San Jose, CA                            13
Jersey City, NJ                         13
Huntsville, AL                          13
San Diego, CA                           13
Annapolis Junction, MD                  13
Richmond, VA                            12
California, United States               12
Texas, United States                    12
Sunnyvale, CA                           12
Jacksonville, FL                        12
Iselin, NJ                              12
Bellevue, WA                            12
Fort Worth, TX                          12
Laurel, MD                              11
Durham, NC                              11
Dearborn, MI                            11
New York, United States                 11
Raleigh, NC                             11
Alpharetta, GA                          11
Green Bay, WI                           11
Columbus, OH                            11
Memphis, TN                             11
Indianapolis, IN                        10
Santa Clara, CA                         10
Fort Bragg, NC                          10
New York County, NY                     10
Omaha, NE                               10
Irving, TX                              10
Georgia, United States                  10
Milwaukee, WI                           10
Las Vegas, NV                            9
Florida, United States                   9
Bethesda, MD                             9
Boulder, CO                              9
Bentonville, AR                          9
Lancaster, PA                            9
Raritan, NJ                              9
Irvine, CA                               9
Colorado Springs, CO                     8
Newark, NJ                               8
Des Moines, IA                           8
Baltimore, MD                            8
Tysons Corner, VA                        8
Peoria, IL                               8
Boise, ID                                8
Oklahoma City, OK                        8
Norfolk, VA                              8
Auburn Hills, MI                         8
Albuquerque, NM                          8
Vienna, VA                               8
Orlando, FL                              8
Boca Raton, FL                           8
Falls Church, VA                         7
Virginia, United States                  7
Albany, NY                               7
Providence, RI                           6
Richfield, MN                            6
Troy, MI                                 6
Pasadena, CA                             6
Washington, United States                6
Aurora, CO                               6
Pennington, NJ                           6
North Carolina, United States            6
Pleasanton, CA                           6
Cleveland, OH                            6
College Park, MD                         6
St Paul, MN                              6
Indiana, United States                   6
Nashville, TN                            6
Portland, OR                             5
San Ramon, CA                            5
Chattanooga, TN                          5
Columbia, MD                             5
Louisville, CO                           5
Danbury, CT                              5
Louisville, KY                           5
Grand Rapids, MI                         5
Ann Arbor, MI                            5
Rochester, NY                            5
Newark, DE                               5
Republic, PA                             5
Frederick, MD                            5
Princeton, NJ                            5
Redstone Arsenal, AL                     5
Dayton, OH                               5
Cambridge, MA                            5
Beavercreek, OH                          5
Kansas City, MO                          5
Fairfax, VA                              5
Cedar Rapids, IA                         5
Malvern, PA                              5
Oregon, United States                    4
Tallahassee, FL                          4
Fayetteville, NC                         4
Hanover, MD                              4
Pennsylvania, United States              4
South San Francisco, CA                  4
Fort Belvoir, VA                         4
Evansville, IN                           4
Stamford, CT                             4
El Segundo, CA                           4
Illinois, United States                  4
Rockville, MD                            4
Edison, NJ                               4
Foster City, CA                          4
Framingham, MA                           4
Franklin, TN                             4
Pewaukee, WI                             4
Sacramento, CA                           4
Greenwich, CT                            4
Savage, MD                               4
Columbia, SC                             4
Mount Laurel, NJ                         4
Brentwood, TN                            4
Oak Brook, IL                            4
Knoxville, TN                            4
Oak Ridge, TN                            4
Wisconsin, United States                 4
Waltham, MA                              4
Lake Forest, IL                          4
Wilmington, DE                           4
Birmingham, AL                           4
North Chicago, IL                        4
Bronx, NY                                4
Richardson, TX                           4
Westborough, MA                          4
Akron, OH                                4
Charlottesville, VA                      4
Addison, TX                              4
Tulsa, OK                                4
Overland Park, KS                        3
Lansing, MI                              3
Washington Highlands, MD                 3
Plantation, FL                           3
Bradenton, FL                            3
Fort Wayne, IN                           3
Fremont, CA                              3
Little Rock, AR                          3
Moline, IL                               3
Patuxent River, MD                       3
Bloomfield, CT                           3
Lehi, UT                                 3
Greenwood Village, CO                    3
Beaverton, OR                            3
Mountain View, CA                        3
Morristown, NJ                           3
Lanham, MD                               3
Morrisville, NC                          3
Stafford, VA                             3
Missouri, United States                  3
Parsippany, NJ                           3
Ohio, United States                      3
Corpus Christi, TX                       3
Toledo, OH                               3
Jackson, MS                              3
Chesapeake, VA                           3
Charleston, SC                           3
Tucson, AZ                               3
Syracuse, NY                             3
University Park, PA                      3
Alabama, United States                   3
Carlsbad, CA                             3
Utah, United States                      3
Camden, NJ                               3
Virginia Beach, VA                       3
Augusta, ME                              3
Abilene, TX                              3
Buffalo, NY                              3
District of Columbia, United States      3
Homestead, FL                            3
Suitland, MD                             3
Greater Houston                          3
Merrimack, NH                            3
Woodlawn, MD                             3
Alexandria, VA                           3
Sterling, VA                             3
San Bruno, CA                            3
Quincy, MA                               2
Peapack - Gladstone, NJ                  2
Greater Dothan                           2
Grand Forks, ND                          2
Marlton, NJ                              2
Lenexa, KS                               2
San Luis Obispo County, CA               2
Queens, NY                               2
Redmond, WV                              2
Greensboro, NC                           2
Pearland, TX                             2
Idaho, United States                     2
London, CA                               2
Ridgefield Park, NJ                      2
Glendale Heights, IL                     2
Johnston, RI                             2
Madison, WI                              2
Kansas, United States                    2
Hoboken, NJ                              2
Kennesaw, GA                             2
Location, WV                             2
Redwood City, CA                         2
Hayward, CA                              2
Los Ranchos de Albuquerque, NM           2
Lafayette, LA                            2
Lake Charles, LA                         2
Lake County, IN                          2
Lake Mary, FL                            2
Gurnee, IL                               2
Little Chute, WI                         2
Doral, FL                                2
Lincoln, RI                              2
Glastonbury, CT                          2
Bridgewater, NJ                          2
Brooklyn, NY                             2
Brunswick, ME                            2
Washington DC-Baltimore Area             2
Warrenton, VA                            2
Wallops Island, VA                       2
Waller, TX                               2
Minnetonka, MN                           2
Cary, NC                                 2
Charlotte County, FL                     2
Trenton, NJ                              2
Chesterfield, MO                         2
City of Washington County, DC            2
Topeka Metropolitan Area                 2
Titusville, FL                           2
The Woodlands, TX                        2
Girlstown USA, TX                        2
Concord, MA                              2
Tennessee, United States                 2
Temple, TX                               2
Brookfield, WI                           2
Mobile, AL                               2
Crystal City, VA                         2
Waukee, IA                               2
Wyomissing, PA                           2
Winter Park, FL                          2
Winston-Salem, NC                        2
Anderson, SC                             2
Arizona, United States                   2
Ashburn, VA                              2
Wichita, KS                              2
Aurora, IL                               2
Westlake, TX                             2
Bala-Cynwyd, PA                          2
West Wyoming, PA                         2
Mt. Laurel, NJ                           2
West Point, NY                           2
West Chester, PA                         2
Bethlehem, PA                            2
North Springfield, VA                    2
Bixby, OK                                2
Blacksburg, VA                           2
Bloomfield Hills, MI                     2
Tempe, AZ                                2
Midvale, UT                              2
Sparks, NV                               2
Spring, TX                               2
Stanford, CA                             2
El Paso, TX                              2
Menlo Park, CA                           2
Estero, FL                               2
St Cloud, MN                             2
Springfield, MA                          2
Springfield, IL                          2
Southlake, TX                            2
Gainesville, FL                          2
Frostburg, MD                            2
Scottsdale, AZ                           2
Shelton, CT                              2
Somerville, MA                           2
Social Circle, GA                        2
Fort Walton Beach, FL                    2
Fort Mill, SC                            2
Sioux Falls, SD                          2
Fort Myer Heights, VA                    2
Duluth Township, MN                      2
Dallas-Fort Worth Metroplex              2
Cupertino, CA                            2
Garden City, ID                          2
Miami Beach, FL                          2
Germany, PA                              2
Miami-Fort Lauderdale Area               2
Schriever Air Force Base, CO             2
Deerfield, IL                            2
Maryland, United States                  2
Dublin, OH                               2
Daytona Beach, FL                        2
Suwanee, GA                              2
Sykesville, MD                           2
Panama City, FL                          1
Patterson, OH                            1
New York Flat, CA                        1
Pasadena, TX                             1
Port St Lucie, FL                        1
Niceville, FL                            1
Pasco, WA                                1
Newport News, VA                         1
Orange County, CA                        1
North Lewisburg, OH                      1
Orange, CA                               1
Ontario, CA                              1
Only, TN                                 1
Omaha Metropolitan Area                  1
Pineville, LA                            1
Piscataway, NJ                           1
Oklahoma, United States                  1
Portland, ME                             1
Orange, CT                               1
Northampton, MA                          1
Okemos, MI                               1
Ogden, UT                                1
Pinehurst, NC                            1
Oviedo, FL                               1
Novi, MI                                 1
Northbrook, IL                           1
Palo Alto County, IA                     1
Aberdeen Proving Ground, MD              1
Sioux City, IA                           1
Portland, Maine Metropolitan Area        1
Tukwila, WA                              1
Watertown, MA                            1
Washington, VA                           1
Washington Heights, DE                   1
Washington Court House, OH               1
Warren, NJ                               1
Walnut Creek, CA                         1
Waco, TX                                 1
Vernal, UT                               1
Urbandale, IA                            1
Triangle, NC                             1
Waukegan, IL                             1
Torrance, CA                             1
Tolleson, AZ                             1
Tinley Park, IL                          1
Thousand Oaks, CA                        1
The College of New Jersey, NJ            1
Tewksbury, MA                            1
Temple Terrace, FL                       1
Tarrytown, NY                            1
Tamarac, FL                              1
Watsonville, CA                          1
Wauwatosa, WI                            1
Pyrites, NY                              1
White Bear Lake, MN                      1
Wright-Patterson Air Force Base, OH      1
Woodland Park, NJ                        1
Woodbridge, NJ                           1
Woburn, MA                               1
Windsor, CT                              1
Wilmington, NC                           1
Willingboro, NJ                          1
White Plains, NY                         1
White Marsh Station, MD                  1
Westlake, OH                             1
Weehawken, NJ                            1
West Valley City, UT                     1
West Point, PA                           1
West Palm Beach, FL                      1
West Lake Hills, TX                      1
West Jordan, UT                          1
West Branch, IA                          1
West Bend, WI                            1
West Baton Rouge Parish County, LA       1
West Allis, WI                           1
Syracuse, IN                             1
Sumter County, FL                        1
Sugar Land, TX                           1
Rochester, MN                            1
San Carlos, CA                           1
Salt Lake City Metropolitan Area         1
Salisbury, NC                            1
Saint Johnsbury Center, VT               1
Roy, UT                                  1
Roswell, GA                              1
Rosemont, IL                             1
Rockford, IL                             1
Rock Hill, SC                            1
Roanoke, VA                              1
Stratford, CT                            1
Riverdale Park, MD                       1
Ridgeland, MS                            1
Reno, NV                                 1
Reading, MA                              1
Raymond, OH                              1
Rapid City, SD                           1
Rancho Palos Verdes, CA                  1
Ramsey, MN                               1
Quantico, VA                             1
San Diego Metropolitan Area              1
San Francisco Bay Area                   1
San Juan Capistrano, CA                  1
San Juan, TX                             1
Stillwater, MN                           1
Stafford, TX                             1
Springfield, MO                          1
Spokane, WA                              1
Sparta, MI                               1
Southfield, MI                           1
South Carolina, United States            1
Smithfield, RI                           1
New Orleans, LA                          1
Sierra Vista, AZ                         1
Shakopee, MN                             1
Scott AFB, IL                            1
Scarborough, ME                          1
Santa Rosa, CA                           1
Santa Monica, CA                         1
Sanford, FL                              1
Sandy, UT                                1
San Mateo, CA                            1
San Luis Obispo, CA                      1
New York City Metropolitan Area          1
Lexington, MA                            1
New Mexico, United States                1
Concord, CA                              1
Davis County, UT                         1
Davie, FL                                1
Davidson, NC                             1
Davidson County, TN                      1
Davenport, IA                            1
Dahlgren, VA                             1
Creve Coeur, MO                          1
Creedmoor, NC                            1
Cranbury, NJ                             1
Costa Mesa, CA                           1

In [166]:
all_data[['location_part1', 'location_part2']] = all_data['Location'].str.split(",", 1, expand=True)

In [167]:
all_data[['Location', 'location_part1', 'location_part2']]

,Location,location_part1,location_part2
0,United States,United States,None
1,United States,United States,None
2,"Cincinnati, OH",Cincinnati,OH
3,"Beaverton, OR",Beaverton,OR
4,"Pasadena, CA",Pasadena,CA
...,...,...,...
2903,"California City, CA",California City,CA
2904,"Washington Highlands, MD",Washington Highlands,MD
2905,"Milwaukee, WI",Milwaukee,WI
2906,"West Baton Rouge Parish County, LA",West Baton Rouge Parish County,LA
2907,"Fairfax, VA",Fairfax,VA

In [168]:
all_data['location_part2'] = np.where(all_data['location_part2'] == " United States",
                                      all_data['location_part1'],
                                      all_data['location_part2'])

all_data['location_part2'] = all_data['location_part2'].str.strip()

In [169]:
all_data[(all_data['location_part2'].isnull()) & (all_data['location_part1'] != "United States")][['Location', 'location_part1', 'location_part2']]

,Location,location_part1,location_part2
177,Greater Phoenix Area,Greater Phoenix Area,None
180,Greater Cleveland,Greater Cleveland,None
271,Greater Hartford,Greater Hartford,None
486,New Bern-Morehead City Area,New Bern-Morehead City Area,None
542,Greater Houston,Greater Houston,None
728,Greater Philadelphia,Greater Philadelphia,None
829,Knoxville Metropolitan Area,Knoxville Metropolitan Area,None
833,Killeen-Temple Area,Killeen-Temple Area,None
910,Topeka Metropolitan Area,Topeka Metropolitan Area,None
914,Miami-Fort Lauderdale Area,Miami-Fort Lauderdale Area,None
956,Greater Dothan,Greater Dothan,None
1019,San Francisco Bay Area,San Francisco Bay Area,None
1036,New York City Metropolitan Area,New York City Metropolitan Area,None
1070,Greater Chicago Area,Greater Chicago Area,None
1124,Houma-Thibodaux Area,Houma-Thibodaux Area,None
1200,Washington DC-Baltimore Area,Washington DC-Baltimore Area,None
1244,Dallas-Fort Worth Metroplex,Dallas-Fort Worth Metroplex,None
1415,Greater Houston,Greater Houston,None
1451,San Diego Metropolitan Area,San Diego Metropolitan Area,None
1542,Greater Houston,Greater Houston,None
1590,Washington DC-Baltimore Area,Washington DC-Baltimore Area,None
1648,Topeka Metropolitan Area,Topeka Metropolitan Area,None
1688,Greater Dothan,Greater Dothan,None
1722,Miami-Fort Lauderdale Area,Miami-Fort Lauderdale Area,None
1994,Greater St. Louis,Greater St. Louis,None
2135,Atlanta Metropolitan Area,Atlanta Metropolitan Area,None
2229,Omaha Metropolitan Area,Omaha Metropolitan Area,None
2578,Salt Lake City Metropolitan Area,Salt Lake City Metropolitan Area,None
2775,Dallas-Fort Worth Metroplex,Dallas-Fort Worth Metroplex,None
2867,Buffalo-Niagara Falls Area,Buffalo-Niagara Falls Area,None

In [170]:
# Replace locations that are in different format

location_dict = { "Greater Phoenix Area":        "AZ",
                        "Greater Cleveland":           "OH",
                        "Greater Hartford":            "CT",
                        "New Bern-Morehead City Area": "NC",
                        "Greater Houston":             "TX",
                        "Greater Philadelphia":        "PA",
                        "Knoxville Metropolitan Area": "TN",
                        "Killeen-Temple Area":         "TX",
                        "Topeka Metropolitan Area":    "KS",
                        "Miami-Fort Lauderdale Area":  "FL",
                        "Greater Dothan":              "NY",
                        "San Francisco Bay Area":      "CA",
                        "New York City Metropolitan Area": "NY",
                        "Greater Chicago Area":        "IL",
                        "Houma-Thibodaux Area":        "LA",
                        "Washington DC-Baltimore Area": "MD",
                        "Dallas-Fort Worth Metroplex":  "TX",
                        "San Diego Metropolitan Area":  "CA",
                        "Greater St. Louis":            "MO",
                        "Atlanta Metropolitan Area":    "GA",
                        "Omaha Metropolitan Area":      "IA",
                        "Salt Lake City Metropolitan Area": "UT",
                        "Buffalo-Niagara Falls Area":    "NY",
                        "Maine Metropolitan Area":       "ME",
                        "Texas Metropolitan Area":       "TX"
                      }

In [171]:
all_data['location_part3'] = all_data['Location'].map(location_dict)
all_data['location_part3'] = np.where(all_data['location_part3'].isnull(),
                                      all_data['location_part2'].map(location_dict),
                                      all_data['location_part3'])

In [173]:
all_data['location_part2'] = np.where( ((all_data['location_part2'].isnull()) | (all_data['location_part2'].str.contains("Metropolitan Area"))) & (all_data['location_part1'] != "United States"),
                                      all_data['location_part3'],
                                      all_data['location_part2'])

In [175]:
# Standardize states

us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}

In [176]:
all_data['State'] = all_data['location_part2'].map(us_state_to_abbrev)

In [177]:
all_data['State'] = np.where(all_data['State'].isnull(),
                             all_data['location_part2'],
                             all_data['State'])

In [178]:
all_data['State'] = all_data['State'].str.strip()

In [179]:
all_data[all_data['State'].isnull()]['location_part1'].unique()

array(['United States'], dtype=object)

In [180]:
CHARTS_FOLDER = '/Users/yinirong/UCLA_MSBA/Extracurricular/Data Science Job Market Project/Charts/'

In [182]:
# Output to Excel

# all_data[['ID','Company', 'Title Category', 'State']].to_excel(os.path.join(CHARTS_FOLDER, 'Locations.xlsx'), index=False)

## Industries

In [189]:
pd.set_option('display.max_rows', 1000)

industries = all_data.groupby(['Industry']).count().sort_values(['ID'], ascending=False)['ID'].to_frame()

In [191]:
# industries.to_excel(os.path.join(CHARTS_FOLDER, 'Industries.xlsx'))

In [193]:
industries = pd.read_excel(os.path.join(CHARTS_FOLDER, 'Industries.xlsx'))
industries.drop(columns = ['Count', 'Percent'], inplace=True)
industries.head()

                               Industry                         Industry_clean
0                  Software Development                   Software Development
1         IT Services and IT Consulting          IT Services and IT Consulting
2               Staffing and Recruiting                Staffing and Recruiting
3       Defense and Space Manufacturing                          Manufacturing
4  Technology, Information and Internet  Technology,  Information and Internet

In [194]:
industries_clean = all_data[['ID','Company', 'Title Category', 'Industry']].merge(industries,
                                                                                  how = 'left',
                                                                                  on = 'Industry')
industries_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2908 entries, 0 to 2907
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              2908 non-null   object
 1   Company         2908 non-null   object
 2   Title Category  2908 non-null   object
 3   Industry        2908 non-null   object
 4   Industry_clean  2908 non-null   object
dtypes: object(5)
memory usage: 136.3+ KB

In [197]:
# industries_clean.to_excel(os.path.join(CHARTS_FOLDER, 'Industries Clean.xlsx'), index=False)

## Remote work

In [204]:
len(all_data[all_data['Location'] == "United States"])

110

In [217]:
remote_work = all_data[(all_data['Location'] == "United States")][['Company', 'Title', 'Description']]
# remote_work.to_excel(os.path.join(CHARTS_FOLDER, 'Remote Locations.xlsx'), index=False)

In [218]:
remote_work['Title'] = remote_work['Title'].str.lower()

remote_work['is_remote1'] = remote_work['Title'].str.contains("remote")

remote_work.head()

,Company,Title,Description,is_remote1
0,Bloom Insurance,data engineer i,To support internal and external clients via p...,False
1,Intrepid,data engineer(remote),Intrepid sets the standard for delivering exce...,True
5,BairesDev,etl + data engineer - remote work,Who We are BairesDev is proud to be the faste...,True
27,"SMX Services & Consulting, Inc.",data engineer,Job Description SMX Services & Consulting ...,False
31,BairesDev,data science / data engineer - remote work,Who We are BairesDev is proud to be the faste...,True

In [219]:
len(remote_work[remote_work['is_remote1'] == True])

31

In [220]:
remote_work['Description'] = remote_work['Description'].str.lower()

remote_work['is_remote2'] = remote_work['Description'].str.contains("remote")

remote_work.head()

,Company,Title,Description,is_remote1,is_remote2
0,Bloom Insurance,data engineer i,to support internal and external clients via p...,False,False
1,Intrepid,data engineer(remote),intrepid sets the standard for delivering exce...,True,True
5,BairesDev,etl + data engineer - remote work,who we are bairesdev is proud to be the faste...,True,True
27,"SMX Services & Consulting, Inc.",data engineer,job description smx services & consulting ...,False,False
31,BairesDev,data science / data engineer - remote work,who we are bairesdev is proud to be the faste...,True,True

In [221]:
len(remote_work[remote_work['is_remote2'] == True])

66

In [222]:
remote_work['is_remote'] = np.where((remote_work['is_remote1']==True) | (remote_work['is_remote2']==True), 1, 0)

In [223]:
remote_work.head()

,Company,Title,Description,is_remote1,is_remote2,is_remote
0,Bloom Insurance,data engineer i,to support internal and external clients via p...,False,False,0
1,Intrepid,data engineer(remote),intrepid sets the standard for delivering exce...,True,True,1
5,BairesDev,etl + data engineer - remote work,who we are bairesdev is proud to be the faste...,True,True,1
27,"SMX Services & Consulting, Inc.",data engineer,job description smx services & consulting ...,False,False,0
31,BairesDev,data science / data engineer - remote work,who we are bairesdev is proud to be the faste...,True,True,1

In [224]:
len(remote_work[remote_work['is_remote'] == 1])

72